@import "predefinicoes";

/****************************************
 ----------------------------------------
 * LAYOUT *
 ----------------------------------------
 ****************************************/

 body {
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	line-height: 1.65;
	color: $cor-texto;
	font-family: $fonte-padrao;
	background: $branco url('../img/portal.jpg') no-repeat fixed center center / cover;
	position: relative;
	height: 100vh;
	
	@media (max-width: 1024px) {
		height: auto;
		min-height: 100vh;
		background-attachment: scroll;
	}
}

section {
	width: $largura-container;
	max-width: 100%;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 50%;
	@include transform(translateX(-50%));
	@include flex(space-between);
	@include flex-wrap(nowrap);


	header {
		@include align-self(flex-end);
		@include flex-grow(1);
		@include flex(flex-start);
		@include flex-direction(column);

		img.ciar {
			width: 338px;
			display: block;
			margin-bottom: 20px;
		}

		.marca {
			padding: 20px 40px 10px;
			margin-right: 20px;
			background: $branco;
			display: inline-block;
			text-transform: uppercase;
			
			h1 {
				font-size: 3em;
				margin: 0 0 10px;
				@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
					background: url('../img/portal.jpg') no-repeat center bottom / cover;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

			h2 {
				margin: 0 0 10px;
				font-size: 1.7em;
				@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
					background: url('../img/portal.jpg') no-repeat center bottom / cover;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

			h3 {
				font-size: 18px;
				text-transform: none;
				text-align: right;
				font-weight: normal;
			}
		}
	}


	nav {

		img.ciar-mobile {
			display: none;
			width: 200px;
			margin: 25px auto 0;
			text-align: center;
		}

		ul {
			margin:0;
			@include align-self(flex-end);
			display: block;

			li {
				background: $branco;
				display: block;
				padding: 20px;
				margin: 20px 0 0;
				font-family: $fonte-titulo;
				color: $livro1;

				a,a:link {
					display: block;
					text-transform: none;

					&.ficha {
						font-size: 1.7em;
						padding-left: 25px; 
					}

					&.livros {
						font-size: 2.1em;
						text-transform: uppercase;
						border-left: 5px solid lighten($livro1,10%);
						padding-left: 20px;
						color: $livro1;
						
						&.l2 {
							color: $livro2;
							border-left-color: lighten($livro2,10%);
						}

						span {
							display: block;
							text-align: left;
							font-family: $fonte-padrao;
							text-transform: none;
							font-size: 20px;
						}
					}

					&:hover {text-decoration: none;}
				}


				&:hover {
					a.livros {
						padding-left: 15px;
						border-left-width: 10px;
					}
				}
			}
		}
	}


	@media (max-width: 680px) {
		@include flex-wrap(wrap);
		position: relative;

		header, nav {
			width: 100%
		}

		header {
			img.ciar { display: none;}

			.marca {
				margin-right: 0;
			}
		}

		nav {

			ul {
				li a, li a:link {
					&.ficha {
						font-size: 1.3em;
						padding-left: 0; 
					}
				}
			}

			img.ciar-mobile {
				display: block;
			}
		}
	}


	@media (max-width: 425px) {
		header .marca {
			padding: 10px 20px 0;
			background: transparent;

			h2 {font-size: 1.2em}
			h1 {font-size: 2em}
			h3 {font-weight: normal;}
		}
	}
}
